* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.mainWindow{
  border-style: solid; /* Specifies the style of the border */
  //border-width: 2px; /* Sets the thickness of the border */
  border-radius: 16px;
  border-color: #242424;
  padding: 16px;
  //border-color: black;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
.root {
 
  
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}